<div class="border-left">
  <h1> 商品目录 </h1>
</div>

<br><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>品名</td>
      <td>描述</td>
      <td>价格</td>
      <td>库存</td>
      <td>创建日期</td>
    </tr>
  </thead>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to(product.title, product_path(product)) %>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %></td>
    </td>

    <td>
      <%= product.created_at %>
    </td>
  </tr>
  <% end %>
</table>
